.mat-card{
    margin: 0em 0em 1em 5em;
    max-width: 50%;
}
h1{
    margin: 0em 0em 1em 5em;
}
.description{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.button-random{
    text-align: center;
}
.name{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
}